@import 'reset';
@import 'icons';
@import 'reading';
@import 'projects';
@import 'markdown';
@import 'syntax';

$blue: #4B8298;
$letter-spacing: 2px;
$background-color: #2B2F3C;

html {
  background: $background-color;
}

body {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;

  overflow-y: scroll;
  height: 100%;
  margin: 0;
  background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizelegibility;
  font-weight: lighter;
}

#app {
  z-index: 1000;
  position: relative;
  min-height: 100vh;
  padding-bottom: 50px;
}

#face {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  top: 47%;
  transform: translateX(-50%) translateY(-80%);
  color: white;
  text-align: center;
  letter-spacing: $letter-spacing;

  h1, h2 {
    font-weight: lighter;
    white-space: nowrap;
  }
  h1 {
    font-size: 36px;
    margin: 10px;
  }
  h2 {
    color: rgba(255, 255, 255, 0.4);
    font-size: 20px;
  }
}

#media {
  bottom: 35px;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  letter-spacing: 10px;
  margin-top: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

nav {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-weight: lighter;
  font-size: 18px;
  letter-spacing: $letter-spacing;
  display: block;
  margin: 0 auto 20px auto;
  padding-top: 20px;

  a {
    text-decoration: none;
    color: inherit;
    padding: 15px 1px;
    cursor: pointer;
    display: inline-block;

    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 12px;
    &:last-child { margin-right: 0; }

    border-bottom: 1px solid rgba(0, 0, 0, 0);

    &:hover {
      color: white;
      border-bottom: 1px solid #999;
    }
    &.active {
      color: white;
    }
  }
  ul {
    white-space: nowrap;
    list-style: none;
    text-decoration: none;
  }
}

.noMatch {
  text-align: center;
  top: 42%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);

  h1 {
    font-size: 72px;
    font-weight: normal;
  }
}

#scene canvas {
  background: transparent;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}


.contentSection {
  margin: 0 auto;
  padding: 50px 0 80px 0;
  max-width: 800px;
  text-align: center;

  section {
    margin-bottom: 60px;
  }

  h2 {
    display:block;
    width: 100%;
    margin: 15px 0 25px 0;
  }
}


.clearfix:after {
  clear: both;
  display: table;
  content: "";
}
