@import 'reset';
@import 'icons';

$blue: #4B8298;
$letter-spacing: 2px;
$background-color: #2B2F3C;

html {
  height: 100%;
  background: #2B2F3C;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  height: 100%;
  margin: 0;
  background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizelegibility;
}

.content {
  z-index: 1000;
  position: relative;
  height: 100%;
}

#face {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  top: 45%;
  transform: translateX(-50%) translateY(-80%);
  color: white;
  text-align: center;
  letter-spacing: $letter-spacing;

  h1, h2 {
    font-weight: lighter;
    white-space: nowrap;
  }
  h1 {
    font-size: 36px;
    margin: 10px;
  }
  h2 {
    color: rgba(255, 255, 255, 0.4);
    font-size: 20px;
  }
}

#media {
  position: absolute;
  bottom: 15px;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  left: 50%;
  transform: translateX(-50%);

  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

nav {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-weight: lighter;
  font-size: 18px;
  letter-spacing: $letter-spacing;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);

  ul {
    list-style: none;
    text-decoration: none;
  }
  li {
    margin: 12px;
    padding: 15px 1px;
    float: left;
    cursor: pointer;

    &:hover {
      color: white;
      border-bottom: 1px solid #999;
    }
  }
}

canvas {
  background: transparent;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
