.projectCard {
  text-align: left;
  margin-bottom: 40px;

  h3 {
    padding: 20px 0;
    font-size: 22px;
    color: white;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

section.projects {
  margin-bottom: 40px;
}
